Repository GoogleCloudPlatform/spring-cloud-gcp, pull requests merged in 2020-12, with the labels that each got.

#170 Enable SonarCloud on unit tests
  .github/workflows/sonar.yaml
Labels: code-quality

#177 add reference fields to query filter
  spring-cloud-gcp-data-datastore/src/main/java/com/google/cloud/spring/data/datastore/core/DatastoreTemplate.java
  spring-cloud-gcp-data-datastore/src/test/java/com/google/cloud/spring/data/datastore/entities/Product.java
  spring-cloud-gcp-data-datastore/src/test/java/com/google/cloud/spring/data/datastore/entities/Store.java
  spring-cloud-gcp-data-datastore/src/test/java/com/google/cloud/spring/data/datastore/it/DatastoreIntegrationTests.java
  spring-cloud-gcp-data-datastore/src/test/java/com/google/cloud/spring/data/datastore/it/ProductRepository.java
Labels: datastore

#184 Add Logback config for KMS tests
  spring-cloud-gcp-kms/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-kms-sample/src/test/resources/logback-test.xml
Labels: kms

#171 Firestore - optimistic locking
  docs/src/main/asciidoc/firestore.adoc
  spring-cloud-gcp-autoconfigure/src/main/java/com/google/cloud/spring/autoconfigure/firestore/GcpFirestoreAutoConfiguration.java
  spring-cloud-gcp-data-firestore/src/main/java/com/google/cloud/spring/data/firestore/FirestoreTemplate.java
  spring-cloud-gcp-data-firestore/src/main/java/com/google/cloud/spring/data/firestore/mapping/FirestoreClassMapper.java
  spring-cloud-gcp-data-firestore/src/main/java/com/google/cloud/spring/data/firestore/mapping/FirestoreDefaultClassMapper.java
  spring-cloud-gcp-data-firestore/src/main/java/com/google/cloud/spring/data/firestore/mapping/FirestorePersistentEntity.java
  spring-cloud-gcp-data-firestore/src/main/java/com/google/cloud/spring/data/firestore/mapping/FirestorePersistentEntityImpl.java
  spring-cloud-gcp-data-firestore/src/main/java/com/google/cloud/spring/data/firestore/mapping/UpdateTime.java
  spring-cloud-gcp-data-firestore/src/main/java/com/google/cloud/spring/data/firestore/transaction/ReactiveFirestoreResourceHolder.java
  spring-cloud-gcp-data-firestore/src/main/java/com/google/cloud/spring/data/firestore/transaction/ReactiveFirestoreTransactionManager.java
  spring-cloud-gcp-data-firestore/src/test/java/com/google/cloud/spring/data/firestore/FirestoreTemplateTests.java
  spring-cloud-gcp-data-firestore/src/test/java/com/google/cloud/spring/data/firestore/entities/User.java
  spring-cloud-gcp-data-firestore/src/test/java/com/google/cloud/spring/data/firestore/it/FirestoreIntegrationTests.java
  spring-cloud-gcp-data-firestore/src/test/java/com/google/cloud/spring/data/firestore/it/FirestoreIntegrationTestsConfiguration.java
  spring-cloud-gcp-data-firestore/src/test/java/com/google/cloud/spring/data/firestore/repository/query/FirestoreRepositoryTests.java
  spring-cloud-gcp-data-firestore/src/test/java/com/google/cloud/spring/data/firestore/repository/query/PartTreeFirestoreQueryTests.java
  spring-cloud-gcp-data-firestore/src/test/java/com/google/cloud/spring/data/firestore/transaction/ReactiveFirestoreTransactionManagerTest.java
Labels: firestore
