Repository GoogleCloudPlatform/spring-cloud-gcp, pull requests merged in 2020-11, with the labels that each got.

#124 Make Pub/Sub JSON payload test more robust
  spring-cloud-gcp-samples/spring-cloud-gcp-integration-pubsub-json-sample/src/test/java/com/example/PubSubJsonPayloadSampleApplicationIntegrationTests.java
Labels: pubsub, testing

#118 fix(tests): Re-enable Metrics integration test by renaming
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/src/test/java/com/example/MetricsSampleApplicationIntegrationTests.java
Labels: metrics, testing

#121 Metrics module enhancements
  docs/src/main/asciidoc/metrics.adoc
  spring-cloud-gcp-autoconfigure/src/main/java/com/google/cloud/spring/autoconfigure/metrics/GcpStackdriverMetricsAutoConfiguration.java
  spring-cloud-gcp-autoconfigure/src/test/java/com/google/cloud/spring/autoconfigure/pubsub/it/PubSubTemplateDocumentationIntegrationTests.java
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/README.adoc
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/pom.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/src/main/java/com/example/ExampleController.java
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/src/main/resources/application.properties
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/src/test/java/com/example/MetricsSampleApplicationIntegrationTests.java
  spring-cloud-gcp-starters/spring-cloud-gcp-starter-metrics/pom.xml
  spring-cloud-gcp-vision/src/main/java/com/google/cloud/spring/vision/OcrPageRange.java
Labels: enhancement, metrics
